snippet ba "begin{align}..."
\begin{align}
${0}
\end{align}
endsnippet

snippet bas "begin{align*}..."
\begin{align*}
${0}
\end{align*}
endsnippet

snippet be "begin{...}"
\begin{${1}}
\end{$1}
endsnippet
